@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jockey+One&display=swap');

:root {
  --primary-color: #ff7300;
  --secondary-color: #173183;
  --text-color: #2f2f2f;
  --bg-primary: #f5f7f2;
  --bg-secondary: #ffffff;

  --font-titles: 'Exo 2', sans-serif;
  --font-general: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-general);
  background-color: var(--bg-primary);
  color: var(--text-color);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titles);
  font-weight: 700;
  color: var(--secondary-color);
}

.text--primary { color: var(--primary-color); }
.text--secondary { color: var(--secondary-color); }